

/venv/

/.idea/
/TensorFlowBasicConcept/summary/
/HousingPriceForecastingModel/summary/
/HandwrittenNumeralRecognitionModel/MNIST/
/VerificationCodeRecognitionModel/test-dataset/
/VerificationCodeRecognitionModel/train-dataset/
/VerificationCodeRecognitionModel/model/
/VerificationCodeRecognitionModel/history/
/VerificationCodeRecognitionModel/pre-trained/
/FaceRecognitionModel/Data/images/
/FaceRecognitionModel/Data/orig_images/
/FaceRecognitionModel/Data/models/
/FaceRecognitionModel/Data/landmarks.dat
