

/venv/

/.idea/
/TensorFlowBasicConcept/summary/
/HousingPriceForecastingModel/summary/
/HandwrittenNumeralRecognitionModel/MNIST/
/VerificationCodeRecognitionModel/test-dataset/
/VerificationCodeRecognitionModel/train-dataset/
